.lead{
  display: grid;
  justify-content: center;
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media (max-width: 425) {
  .lead{
    margin-bottom: 64px;
  }
}