.cover__background{
  position: absolute;
  max-width: 1184px;
  z-index: 0;
  opacity: 0.7;
  transition: opacity .5s ease-out;
}

.cover__background:hover{
  opacity: 0.2;
}

@media (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
    /* max-height: 640px; */
  }
}

@media (max-width: 768px) {
  .cover__background {
    max-width: 100%;
    /* max-height: 480px; */
  }
}

@media (max-width: 320px) {
  .cover__background {
    margin-bottom: 320px;
    /* max-height: 200px; */
  }
}