.footer{
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}