/* .cover{
  display: grid;
  margin: 0 auto;
  grid-template-columns: minmax(1280px, auto);
  grid-template-rows: minmax(740px, auto);
  background: linear-gradient(rgba(42,44,47, 0.3), rgba(42,44,47, 0.3)), url(/images/__background.jpg);
  background-size: 1182px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px;
}

.cover:hover{
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42,44,47, 0.8)), url(/images/__background.jpg);
  background-size: 1182px;
  } */

.cover{
  mxw1
  display: grid;
}