.cover{
  position: relative;
  max-width: 1184px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 740px;
  margin-bottom: 92px;
  text-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .cover {
    grid-template-rows: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    grid-template-rows: 740px;
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    grid-template-rows: 740px;
      grid-template-rows: minmax(200px, auto);
      margin-bottom: 64px;
  }
}