.cover{
  max-width: 1184px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: minmax(740px, auto);
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(/images/__background.jpg);
  background-size: 1182px;
  background-repeat: no-repeat;
  margin-bottom: 92px;
  text-align: center;
  align-items: center;
}

.cover:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(/images/__background.jpg);
  background-size: 1182px;
}

@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .header {
    display: none;
  }
}