.cover{
  min-height: 740px;
  max-width: 1184px;
  ÑŒ0
  background-image: url(/images/__background.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 92px;
}