.cover{
  display: grid;
  grid-template-columns: minmax(1184px, auto);
  grid-template-rows: minmax(740px, auto);
  margin: 0 auto;
  background: linear-gradient(rgba(42,44,47, 0.3), rgba(42,44,47, 0.3)), url(/images/__background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  /* margin-left: 48px; */
  /* margin-right: 48px; */
  margin-bottom: 92px;
}

.cover:hover{
  /* background: #2A2C2F; */
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42,44,47, 0.8)), url(/images/__background.jpg);
  background-size: 100%;
  
  }