.intro{
  display: grid;
  grid-template-columns: minmax(auto, 288px);
  justify-content: center;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .intro{
    grid-template-columns: minmax(auto, 720px);
    margin-bottom: 88px;
    justify-content: start;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    grid-template-columns: minmax(auto, 690px);
    width: 928px;
    margin: 0 auto;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: 690px;
    justify-content: center;
    margin-bottom: 86px;
  }
}

