.cover{
  display: block;
  position: relative;
  background: url(../../images/__background.png) no-repeat center center;
  background-size: contain;
  margin-bottom: 64px;
}

.cover:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(42, 44, 47, .3);
  z-index: 2;
}
.cover:hover::after{
  background: rgba(42,44,47, .8);
}


@media screen and (min-width: 768px) {
  .cover {
    margin-bottom: 88px; 
 }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    margin: 0 auto;
    margin-bottom: 86px;
    background-size: 1184px;
  }
}

