.intro{
  display: grid;
  grid-template-columns: minmax(auto, 690px);
  justify-content: center;
  margin-bottom: 86px;
}

@media (max-width: 1024px) {
  .intro{
    justify-content: start;
    margin-left: 48px;
    margin-bottom: 92px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin-bottom: 88px;
  }
}

@media (max-width: 320) {
  .intro {
    margin-left: 16px;
  }
}

