.header{
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: end;
  margin-bottom: 56px;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .header{
    max-width: 928px;
    margin-top: 28px;
    margin-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .header {
    maxw: 720px
}